In [1]:
# Step 1: Import necessary libraries
import pandas as pd

# Step 2: Load the dataset
anime_df = pd.read_csv("anime.csv")

# Step 3: Display the first few rows
print("First 5 rows of the dataset:")
display(anime_df.head())

# Step 4: Check for missing values and data types
print("\nDataset Info:")
anime_df.info()

print("\nMissing values per column:")
print(anime_df.isnull().sum())

# Step 5: Basic statistics (for numerical columns)
print("\nBasic statistics:")
display(anime_df.describe())

First 5 rows of the dataset:

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12297 entries, 0 to 12296
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12297 non-null  int64
 1   name      12297 non-null  object
 2   genre     12234 non-null  object
 3   type      12271 non-null  object
 4   episodes  12297 non-null  object
 5   rating    12067 non-null  float64
 6   members   12297 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.6+ KB

Missing values per column:
anime_id      0
name          0
genre        63
type         26
episodes      0
rating      230
members       0
dtype: int64

Basic statistics:

            anime_id        rating       members
count   12297.000000  12067.000000  1.229700e+04
mean    14123.595592      6.473724  1.806697e+04
std     12460.581790      1.026726  5.481470e+04
min         1.000000      1.670000  5.000000e+00
25%      3485.000000      5.880000  2.250000e+02
50%     10262.000000      6.570000  1.549000e+03
75%     24803.000000      7.180000  9.431000e+03
max    405612.000000     10.000000  1.013917e+06

In [2]:
import pandas as pd

# Load the dataset (adjust path if needed)
anime_df = pd.read_csv("anime.csv")

# Show the first few rows
anime_df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [3]:
# Overview of columns and data types
anime_df.info()

# Count missing values in each column
anime_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12297 entries, 0 to 12296
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12297 non-null  int64
 1   name      12297 non-null  object
 2   genre     12234 non-null  object
 3   type      12271 non-null  object
 4   episodes  12297 non-null  object
 5   rating    12067 non-null  float64
 6   members   12297 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.6+ KB

anime_id      0
name          0
genre        63
type         26
episodes      0
rating      230
members       0
dtype: int64

In [7]:
# Summary stats for numeric columns
anime_df.describe()

# Unique values in categorical columns
print("\nUnique types:", anime_df['type'].unique())
print("\nUnique genres (first 5 rows):", anime_df['genre'].head())

Unique types: ['Movie' 'TV' 'OVA' 'Special' 'Music' 'ONA' nan]

Unique genres (first 5 rows): 0                 Drama, Romance, School, Supernatural
1    Action, Adventure, Drama, Fantasy, Magic, Mili...
2    Action, Comedy, Historical, Parody, Samurai, S...
3                                     Sci-Fi, Thriller
4    Action, Comedy, Historical, Parody, Samurai, S...
Name: genre, dtype: object

In [9]:
anime_df = anime_df.dropna(subset=['rating', 'genre'])

In [11]:
# Check how many rows and columns remain after dropping missing values
anime_df.shape

(12019, 7)

In [13]:
anime_df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [16]:
# Fill missing genres with empty strings
anime_df['genre'] = anime_df['genre'].fillna('')

# Initialize TF-IDF Vectorizer (ignore stop words, etc.)
tfidf = TfidfVectorizer(stop_words='english')

# Compute TF-IDF matrix
tfidf_matrix = tfidf.fit_transform(anime_df['genre'])

# Shape of matrix: (num_anime x num_genres)
print("TF-IDF matrix shape:", tfidf_matrix.shape)

TF-IDF matrix shape: (12019, 47)

In [17]:
# Compute cosine similarity between all anime based on genre
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [18]:
# Reset index in case it’s not aligned
anime_df = anime_df.reset_index()

# Create a mapping from anime name to index
indices = pd.Series(anime_df.index, index=anime_df['name']).drop_duplicates()

In [21]:
def recommend_anime(title, num_recommendations=5):
    if title not in indices:
        return f"'{title}' not found in dataset."

    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:num_recommendations+1]
    anime_indices = [i[0] for i in sim_scores]
    
    return anime_df[['name', 'genre', 'type']].iloc[anime_indices]

In [22]:
# Combine genre and type into one string
anime_df['features'] = anime_df['genre'] + ' ' + anime_df['type'].fillna('')

# Recompute TF-IDF and similarity
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(anime_df['features'])
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [23]:
result = recommend_anime("Naruto", num_recommendations=10)
result.to_csv("naruto_recommendations.csv", index=False)

In [31]:
# Call your function directly at the end of a cell
recommend_anime("Death Note", num_recommendations=10)

,name,genre,type
981,Mousou Dairinin,"Drama, Mystery, Police, Psychological, Superna...",TV
778,Death Note Rewrite,"Mystery, Police, Psychological, Supernatural, ...",Special
144,Higurashi no Naku Koro ni Kai,"Mystery, Psychological, Supernatural, Thriller",TV
445,Mirai Nikki (TV),"Action, Mystery, Psychological, Shounen, Super...",TV
1383,Higurashi no Naku Koro ni Rei,"Comedy, Mystery, Psychological, Supernatural, ...",OVA
334,Higurashi no Naku Koro ni,"Horror, Mystery, Psychological, Supernatural, ...",TV
38,Monster,"Drama, Horror, Mystery, Police, Psychological,...",TV
4162,Mirai Nikki (TV): Ura Mirai Nikki,"Action, Comedy, Mystery, Psychological, Shoune...",Special
250,Zankyou no Terror,"Psychological, Thriller",TV
1238,Shigofumi,"Drama, Fantasy, Psychological, Supernatural, T...",TV